@page "/login"
@model OSM.Core.Pages.Auth.LoginModel
@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Login";
}
<section class="container py-5 my-5">
	<a href="/" class="text-secondary">
		← back to home page
	</a>
	<article class="p-5 my-5 shadow rounded bg-white">
		<h1 class="mb-5 fw-bold">
			Login to your account
		</h1>
		<form method="post">
			<div class="mb-1 text-danger">
				<small>
					@Html.ValidationSummary()
				</small>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Email" class="form-label">Email address</label>
				<input asp-for="Input.Email" type="email" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Input.Email)</small>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Password" class="form-label">Password</label>
				<input asp-for="Input.Password" type="password" autocomplete="current-password" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Input.Password)</small>
			</div>
			<div class="mb-3 form-check">
				<input asp-for="Input.RememberMe" type="checkbox" class="form-check-input">
				<label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		<div class="mt-5">
			<a href="/register" class="text-secondary">
				Don't have an account? Sign up
			</a>
		</div>
	</article>
</section>
