@page "/dashboard"
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<section class="container py-5 my-5 text-left">
    <h1 class="mb-5 fw-bold">
        Dashboard
    </h1>
    <article class="p-5 my-5 shadow rounded text-left bg-white">
        <p>
            You're logged in!
        </p>
    </article>
</section>
@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }
    private User? user => Layout.User;
}