@page "/"
@inject ILogger logger

<PageTitle>Home page</PageTitle>

<section class="container py-5 my-5 text-left">
    <article class="p-5 my-5 shadow rounded text-left bg-white">
        <h1 class="mb-5 fw-bold">
            Build something beautiful
        </h1>
        <p class="">
            Spark picks up where ASP.NET leaves off. Build production ready, full-stack web applications fast.
        </p>
        <p class="">
            View the <a class="link-primary" href="https://spark-framework.net" target="_blank">documentation →</a>
        </p>
    </article>
</section>
@code {

    protected override async Task OnInitializedAsync()
    {
        logger.Information($"Initialized at {DateTime.Now}");
    }
}