<nav class="navbar container">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<ApplicationLogo />
		</a>
		<AuthorizeView>
			<Authorized>
				<div class="btn-group dropstart">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Account
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
						<li><a class="dropdown-item" href="/profile/edit">Profile</a></li>
						<li><a class="dropdown-item" href="/logout">Logout</a></li>
						<li><hr class="dropdown-divider"></li>
						<li class=""><small class="p-2">@user.Name</small></li>
					</ul>
				</div>
			</Authorized>
			<NotAuthorized>
				<div class="">
					<a href="/login" class="me-3">Login</a>
					<a href="/register" class="btn btn-primary">Register</a>
				</div>
			</NotAuthorized>
		</AuthorizeView>
	</div>
</nav>

@code {
	[CascadingParameter]
	public MainLayout? Layout { get; set; }
	private User? user => Layout.User;
}